body{
    font-family: "Roboto Mono", monospace;
    color:blue;
    background-color:#EDF9FF;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=11610),auto;
}

@font-face{
    font-family: endfield;
    src: url(EndfieldByButan.ttf);
}

a:hover{
    background-color:blue;
    color:white;
}

h1{
    padding:0px;
    margin-bottom:0px;
}

h3{
    font-family: endfield;
}

hr{
    border-top:1px solid blue;
}

p{
    padding:0px;
    margin-top:0px;
}

ul{
    list-style-type:circle;
}

#bottomglobe{
    z-index:-2;
    opacity:0.2;
    position:fixed;
    right:0px;
    bottom:0px;
}

#topglobe{
    z-index:-1;
    opacity:0.1;
    position:fixed;
    top:0px;
    left:0px;
}

#pageContainer{
    border:2px solid blue;
    padding:10px;
}

#upperrightbox{
    position:fixed;
    right: 0.2em;
    top:1.6em;
    text-align:right;
    writing-mode:vertical-lr;
    text-orientation:upright;
}

#rightIMG{
    width:100%;
    height:auto;
    display:block;
    margin: 20px auto auto auto;
}

#labIMG{
    width:50%;
    display:block;
    margin: 20px auto auto auto;
}

#floatingIMG{
    width:100%;
    height:auto;
}

.floatbox{
    position: absolute;
    top:60%;
    left:77%;
    background-color:rgba(240,248,255,0.8);
    border: 1px solid blue;
    padding:10px;
    width:300px;
}

.column{
    float:left;
    width:45%;
    padding: 0px 20px 20px 20px;
    border:1px solid blue;
    margin:10px;
    height:100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}